<a href="https://colab.research.google.com/github/vista33/DataEngineering/blob/main/Data_Types_and_Structures_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Structures in Python

# Hands On

## Basic Calculation

In [ ]:
a = 10
b = 5
c = 3

print ('Sum:', a+b+c)
print ( 'Subtraction:', a-b-c)
print ('Multiplication:', a*b*c)

print ('Division', a/c)
print ('Round Division', a//c)
print ('Modulo',a%c)

basis = 2
pangkat = 4
print ('Hasil Pangkat',2**4)

Sum: 18
Subtraction: 2
Multiplication: 150
Division 3.3333333333333335
Round Division 3
Modulo 1
Hasil Pangkat 16

## Data Types

In [ ]:
a = 10
b = 3.14
c = '123'
d = True

print ('type data a',a, type(a), 'and b', b, type(b))

type data a 10 <class 'int'> and b 3.14 <class 'float'>

In [ ]:
import math
# Convert data type
## str to int
num_str = '123'
print ('type before', type(num_str))
num_int = int (num_str)
print ('type after', type (num_int))

## str to float
num_str = '3.14'
print ('type before', type(num_str))
num_int = float (num_str)
print ('type after', type (num_int))

## int to string
num_int = 100
print ('type before', type(num_int))
num_str = str (num_str)
print ('type after', type (num_str))

## float to int
num_float = 9.9999
print ('type before', type(num_float))
num_int = int (num_float)
print (num_int)
print ('type after', type (num_int))

## str to int -> must be converted to float first then to integer
num_str = '50.5'
num_float = float (num_str)
num_int = int(num_float)
print (num_int)
print (int(math.ceil(float('50.5'))))

type before <class 'str'>
type after <class 'int'>
type before <class 'str'>
type after <class 'float'>
type before <class 'int'>
type after <class 'str'>
type before <class 'float'>
9
type after <class 'int'>
50
51

In [ ]:
# Boolean
print (bool(0))
print (bool (123))
print (bool(' '))

# Truthy / Falsy
# Falsy --> False --> 0, [], {}, "", None = Null
# Truthy --> True --> has value, even only a space

False
True
True

In [ ]:
# Validate data type
x = "3.14"
if type (x) == str:
  print ('Change to float!')
  x = float (x)
  print ('Data type:', type(x))

Change to float!
Data type: <class 'float'>

## Data Structure

### 1. List

In [ ]:
colour = ['red','yellow','green','blue']
print (colour)

# Access index
# Index positive
print ('after positive indexing', colour[1])

# Index negative
print ('after negative indexing', colour[-1])

# subtitute the colour
colour [1] = 'gold'
print ('after subtitute', colour)

colour [-1] = 'grey'
print ('after subtitute',colour)

# add and insert the colour
colour.append('purple')
print ('after append:', colour)
colour.insert(2, 'turqoise')
print ('after insert in 2nd index:', colour)

# delete element
colour.remove ('green') # based on value
print ('after remove:', colour)

colour.pop (2) # based on index
print ('after pop:', colour)

# slicing element
print ('after slicing: ', colour[1:3])
print ('after slicing: ', colour[:2])
print ('after slicing: ', colour[-2:])

['red', 'yellow', 'green', 'blue']
after positive indexing yellow
after negative indexing blue
after subtitute ['red', 'gold', 'green', 'blue']
after subtitute ['red', 'gold', 'green', 'grey']
after append: ['red', 'gold', 'green', 'grey', 'purple']
after insert in 2nd index: ['red', 'gold', 'turqoise', 'green', 'grey', 'purple']
after remove: ['red', 'gold', 'turqoise', 'grey', 'purple']
after pop: ['red', 'gold', 'grey', 'purple']
after slicing:  ['gold', 'grey']
after slicing:  ['red', 'gold']
after slicing:  ['grey', 'purple']

### 2. Matrix (nested list)

In [ ]:
# Make a matrix
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print (matrix)
print (matrix [1]) # print row
print (matrix[1][1]) # first shows row, second shows column
print (matrix[2][0])

# append new row
new_row = [10,11,12]
matrix. append(new_row)
print('after append', matrix)

# subtitute
matrix [0][0] = 99
print ('after subtitute', matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
5
7
after append [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
after subtitute [[99, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

### 3. Tuple

In [ ]:
# make tuple
my_tuple = ('Python', 3.14, 42, True)
print ('my tuple', my_tuple)
print ('data type', type (my_tuple))

# access by index
print('first element', my_tuple[0])
print('last element', my_tuple[-1])

# count the length
print ('total element', len(my_tuple))

# try to change the tuple value
# my_tuple[0] = 100 # can not be changed because it is immutable

# ways to change the tuple value is converting it into list
temp = list (my_tuple)
temp [1] = "changed"
my_tuple = tuple (temp)
print ('after change', my_tuple)

# tuple contains nested structure
nested_tuple = (1,2,(3,4), True)
print ("nested_tuple", nested_tuple)
print ("access to tuple in tuple", nested_tuple [2][1])

my tuple ('Python', 3.14, 42, True)
data type <class 'tuple'>
first element Python
last element True
total element 4
after change ('Python', 'changed', 42, True)
nested_tuple (1, 2, (3, 4), True)
access to tuple in tuple 4

### 4. Set

In [ ]:
# Make set
my_set = {1,2,3,4,5}
print ('set before', my_set)

# Adding element (using add built in)
my_set.add(6)
my_set.add(3) # because it is duplicate
print('set after addition', my_set)

# Delete element
my_set.remove (2)  # it gives error if the value is not exist
print ('set after removal', my_set)
my_set.discard (10) # it isn't error eventhough the valu is not exist
print ('set after removal', my_set)

# Operation in Set
set_a = {1,2,3,4}
set_b = {3,4,5,6}

print ('Union', set_a|set_b)
print ('Intersection', set_a & set_b)
print ('Difference/Selisih set_a - set_b', set_a - set_b)
print ('Difference/Selisih set_b - set_a', set_b - set_a)

set before {1, 2, 3, 4, 5}
set after addition {1, 2, 3, 4, 5, 6}
set after removal {1, 3, 4, 5, 6}
set after removal {1, 3, 4, 5, 6}
Union {1, 2, 3, 4, 5, 6}
Intersection {3, 4}
Difference/Selisih set_a - set_b {1, 2}
Difference/Selisih set_b - set_a {5, 6}

### 5. Dictionary

In [ ]:
# Make a dictionary
my_dict = {
    'name':'Vista',
    'role':'Data Engineer',
    'age': 29,
    'skills': ['Power BI', 'Python', 'SQL']
}

# Access data
print ('name', my_dict['name'])
print ('role', my_dict.get('role')) # no error eventhough the key is not exist

# Add and update data
my_dict['city'] = 'Salatiga'
my_dict['age'] = 18
print ('after update', my_dict)

# Delete data
del my_dict['city']
my_dict.pop('role')
print ('after delete', my_dict)

# Add skill
my_dict['skills'].append('Microsoft')
print('after addition', my_dict)

name Vista
role Data Engineer
after update {'name': 'Vista', 'role': 'Data Engineer', 'age': 18, 'skills': ['Power BI', 'Python', 'SQL'], 'city': 'Salatiga'}
after delete {'name': 'Vista', 'age': 18, 'skills': ['Power BI', 'Python', 'SQL']}
after addition {'name': 'Vista', 'age': 18, 'skills': ['Power BI', 'Python', 'SQL', 'Microsoft']}

# !! Exercise Mandiri !!

## ðŸ§® 1. Basic Calculation
Soal:
- Hitunglah hasil dari operasi berikut dan tampilkan hasilnya:
- `a = 7`, `b = 4`

Hitung:
- a dibagi b (float)
- a pangkat b
- Sisa dari (a Ã— 3) dibagi (b + 1)

In [ ]:
# define the variables
a = 7
b = 4

# a divided by b (float)
print ('a/b =', a/b)

# a to the power b
print ('a^b =', a**b)

# Modulo (ax3) / (b+1)
print ('Modulo (ax3)/(b+1) =', (a*3)%(b+1))

a/b = 1.75
a^b = 2401
Modulo (ax3)/(b+1) = 1

## ðŸ”¤ 2. Data Types
Soal:
- Buat variabel nilai = "85.5"
- Konversikan ke float lalu ke int.
- Tampilkan hasil dan tipe datanya setelah tiap konversi.

In [ ]:
# Make a variable contains string
x = "85.5"
print ('type before convertion', type(x))
x = float (x)
print ('type float', type(x))
x = int (x)
print ('type after convertion', type(x))

type before convertion <class 'str'>
type float <class 'float'>
type after convertion <class 'int'>

## ðŸ“š 3. List
Soal:
- Buat list buah = `['apel', 'pisang', 'jeruk']`
- Tambahkan â€˜manggaâ€™ di akhir dan â€˜nanasâ€™ di urutan ke-2
- Ubah â€˜jerukâ€™ jadi â€˜anggurâ€™
- Cetak list mundur menggunakan loop

In [ ]:
# make a list
fruits = ['apel', 'pisang', 'jeruk']

# add value into the list
fruits.append('mangga')
fruits.insert(1, 'nanas')

# replace value inside the list
fruits[-2] = 'anggur'
print(fruits)

# print list backward using for loop
fruits_backward = []
for i in range(1,len(fruits)):
  fruits_backward.append(fruits[-i])
fruits_backward.append(fruits[0])
print (fruits_backward)

['apel', 'nanas', 'pisang', 'anggur', 'mangga']
['mangga', 'anggur', 'pisang', 'nanas', 'apel']

## ðŸ§® 4. Matrix (Nested List)
Soal:
- Buat matrix 2x3: `[[10, 20, 30], [40, 50, 60]]`

Tampilkan:
- Jumlah kolom
- Semua elemen di kolom ke-3
- Tambahkan baris `[70, 80, 90]`

In [ ]:
# Make a matrix
matrix = [[10,20,30],[40,50,60]]

# total column
print ('total column =', len(matrix[0]))

# all elements in the 3rd column
print ('all elements in the 3rd column =',[matrix[0][-1], matrix[1][-1]])

# append the new row
print(matrix)
matrix.append([70,80,90])
print ('matrix after a row addition',matrix)

total column = 3
all elements in the 3rd column = [30, 60]
[[10, 20, 30], [40, 50, 60]]
matrix after a row addition [[10, 20, 30], [40, 50, 60], [70, 80, 90]]

## ðŸ”— 5. Tuple
Soal:
- Buat tuple `data = ('Python', 3, True)`
- Ubah nilai 3 menjadi 3.9 dengan cara mengkonversi ke list lalu ubah kembali ke tuple
- Tampilkan tuple hasil perubahan

In [ ]:
# Make a tuple
my_tuple = ('Python',3,True)

# Convert tuple to list
my_list = list(my_tuple)
my_list[1] = 3.9
print ('temp_list', my_list)

# Convert list to tuple
my_tuple = tuple (my_list)
print ('changed tuple', my_tuple)

temp_list ['Python', 3.9, True]
changed tuple ('Python', 3.9, True)

## ðŸ§® 6. Set
Soal:
- Buat set `A = {1, 2, 3}` dan `B = {3, 4, 5}`

Tampilkan:
- Gabungan A dan B
- Irisan A dan B
- Selisih B dengan A
- Tambahkan 6 ke A dan hapus 2 dari A

In [ ]:
# Make two sets
a = {1,2,3}
b = {3,4,5}

# Operations a and b
print ('a union b', a|b)
print ('a intersect b', a&b)
print ('selisih b - a', b-a)
a.add(6)
a.remove(2)
print ('after addition and deletion', a)

a union b {1, 2, 3, 4, 5}
a intersect b {3}
selisih b - a {4, 5}
after addition and deletion {1, 3, 6}

## ðŸ“– 7. Dictionary
Soal:
- Buat dictionary berisi:
  - nama: Andi
  - usia: 25
  - hobi: baca, lari
- Tambahkan key "kota": "Bandung"
- Ubah usia jadi 26 tahun
- Tampilkan seluruh key dan value menggunakan loop

In [ ]:
# make a dict
my_dict = {
    'nama':'Andi',
    'usia': 25,
    'hobi':['baca','lari']
}

# add the key
my_dict ['kota'] = 'Bandung'
print ('after key addition', my_dict)

# change the value
my_dict ['usia'] = 26
print ('after value changed', my_dict)

# show all the keys and value
for key, value in my_dict.items():
  print ('all keys and values =',key,value)

after key addition {'nama': 'Andi', 'usia': 25, 'hobi': ['baca', 'lari'], 'kota': 'Bandung'}
after value changed {'nama': 'Andi', 'usia': 26, 'hobi': ['baca', 'lari'], 'kota': 'Bandung'}
all keys and values = nama Andi
all keys and values = usia 26
all keys and values = hobi ['baca', 'lari']
all keys and values = kota Bandung